

@font-face {
    font-family: "Meslo";
    src: url(./meslo.ttf);
}

* {
    font-family: Meslo;
}

.white {
    color: #e0e0e0;
}

.white:hover {
    color: #a4a3a3;
}

.large {
    font-size: 48px;
}

.link {
    text-decoration: none;
}

.link:hover {
    filter: invert(35%);
}

html {
    background-color: #3a323c;
}

