<template>
  <div>
    <p>
      <a href="https://sleeeepyti.me/" class="large white link">{{ msg }}</a>
    </p>
    <img src="images/horse.png">
    <p style="color: #a4a3a3; text-align: center;">
      Welcome to horse. The page for links about our favorite horse
    </p>
    <div class="columns m-5 is-centered is-multiline is-mobile" style="padding: 30px;">
      <Link class="column is-narrow" imgSrc="images/githorse.png" link="https://github.com/Copystrike"/>
      <Link class="column is-narrow" imgSrc="images/tweethorse.png" link="https://twitter.com/Nick130202"/>
      <Link class="column is-narrow" imgSrc="images/horsesite.png" link="https://copystrike.dev"/>
    </div>
  </div>
</template>

<script>
import Link from "./Link";
export default {
  name: 'Horse',
  components: {Link},
  props: {
    msg: String
  }
}
</script>

<style>

</style>
